@use '../../../../../../../vars' as v;

.container {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  gap: 16px;
}
.userInfo {
  margin: 4px 0;
}
.addBtn {
  background-color: white;
  border: 1px solid v.$main-blue;
  padding: 4px 8px;
  border-radius: 5px;
  color: v.$main-blue;
}
.buttons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-self: flex-end;
}