.container {
  position: relative;
  animation: slideIn 0.3s ease-out forwards;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}