.container {
  margin: 0 16px;
}
.title {
  font-weight: 500;
  text-decoration: 1px solid underline;
  text-underline-offset: 1.5px;
  text-align: end;
  margin-bottom: 12px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}