.title {
  display: flex;
  justify-content: center;  
}
.title span {
  font-weight: 500;
  margin-bottom: 24px;
  background-color: #00bc45;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 4px 8px;
  border-radius: 5px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}