@use '../../vars' as v;

.container {
  display: inline-block;
}
.text {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  background: v.$gradient;  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}