.container {
  display: flex;
  height: 100%;
}
.carousel {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  margin: 6px 0;
}
.track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  padding: 12px 0;
}