@use '@/vars' as v;

.container {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  gap: 24px;
}
.userInfo {
  margin: 4px 0;
}
.addBtn {
  background-color: #00bc45;
  padding: 6px 12px;
  border-radius: 8px;
  border: 0;
  color: white;
}
.buttons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-self: flex-end;
}