$main-blue: rgb(0, 89, 255);
$avatar-border: rgba(0, 89, 255, 0.415);
$main-blue-filter: brightness(0) saturate(100%) invert(22%) sepia(93%) saturate(5699%) hue-rotate(219deg) brightness(105%) contrast(102%);